[submodule "vendor/common"]
	path = vendor/common
	url = https://github.com/Brewnix/common.git
[submodule "vendor/proxmox-firewall"]
	path = vendor/proxmox-firewall
	url = https://github.com/Brewnix/proxmox-firewall
[submodule "vendor/k3s-cluster"]
	path = vendor/k3s-cluster
	url = https://github.com/Brewnix/k3s-cluster.git
[submodule "vendor/proxmox-nas"]
	path = vendor/proxmox-nas
	url = https://github.com/Brewnix/proxmox-nas.git
[submodule "vendor/scripts"]
	path = vendor/scripts
	url = https://github.com/brewnix/scripts
